@use "src/scss/tools/rem-calc" as function;
$maxGrid: 12;

@mixin rowAndColSize() {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 7.33%);
  gap: 1.1%;
}

.container {
  margin: 0 auto;
  width: function.rem-calc(1168);

  display: grid;
  grid-template-columns: repeat(12, function.rem-calc(90));
  gap: function.rem-calc(8);

  .row {
    @include rowAndColSize();
    grid-column: span $maxGrid;

    @for $i from 1 through $maxGrid {
      .col-#{$i} {
        @include rowAndColSize();
        grid-column: span $i;
      }
    }
  }
}
