@use "src/scss/tools/rem-calc" as function;

@mixin rowAndColSize() {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  gap: 0.007%;
}

.container {
  margin: 0 auto;
  width: function.rem-calc(1168);

  display: grid;
  grid-template-columns: repeat(12, function.rem-calc(90));
  gap: function.rem-calc(8);

  .row {
    @include rowAndColSize();
    grid-column-start: 1;
    grid-column-end: 12;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      @include rowAndColSize();
      grid-column: span $i;
    }
  }
}
